body {
    background-image: url(../images/pinkdust.png);
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
   
  h1 {
    text-align: center;
  }

  main {
  
    background-image: url(../images/pinkdust.png);
    width: 1480px;
    margin: 50px auto;
    border: hidden;
    overflow: hidden;
    
  }

  #films {
    
    scroll-behavior: auto;
    background:transparent;
    background-image: url(../images/email-pattern.png);
    background-size: 100%;
    background-repeat : repeat;
    float: left;
    height: 650px;
    width: 30%;
    margin: 50px 0px 50px 20px;
    overflow: hidden;
    border: 3px solid #fff; 
    border-radius: 10px; 
    
  }

  #films-list {

    overflow: auto;
    height: 190px;
    
  }

  #films-info {

    background:transparent;
    background-image: url(../images/email-pattern.png);
    background-size: 100%;
    background-repeat : repeat;
    background-color: transparent;
    float: left;
    overflow: hidden;
    width: 30%;
    height: 650px;
    margin: 50px 0px 50px 20px;
    border: none;
    border: 3px solid #fff;
    border-radius: 10px;
  
}

  .filminformation {

    display: block;
    text-align: center;
      
  }

  #my-Films {
    
    background:transparent;
    border: 3px solid #fff;
    border-radius: 10px;
    background-image: url(../images/email-pattern.png);
    background-size: 100%;
    background-repeat : repeat;
    float: left;
    width: 30%;
    height: 650px;
    margin: 50px 0px 50px 20px;
    
  }

  #my-films-list {

    overflow: auto;
    height: 450px;

}

  #buttons {

    position: relative;
    top: 60px;

  }

  .remove, .removeMy {

    background: url(../images/recyclebin.png);
    background-size: 90%;
    background-repeat : no-repeat;
    width: 18px;  height: 23px;
       
  }
  @media screen {
    .send{
      display: none;
    }
  }
  @media (max-width: 1000px){
    #films,#my-Films,#films-info{
      width: 50%;
    }
    .send{
      display: inline;
    }
  }
 

  
 