body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
   
  h1 {
    text-align: center;
  }
  main {
 
    background-image: url(../images/pinkdust.png);
    width: 1300px;
    margin: 50px auto;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  }

  #films {
    background:transparent;
    background-image: url(../images/email-pattern.png);
    background-size: 100%;
    background-position: right bottom;
    background-repeat : no-repeat;
    float: left;
    width: 450px;
    margin: 50px 0px 50px 20px;
    overflow: hidden;
    /* outline: 2px solid #000; /* Чёрная рамка */ 
    border: 3px solid #fff; /* Белая рамка */
    border-radius: 10px; /* Радиус скругления */
    }

    #my-Films {
      background:transparent;
      /* outline: 2px solid #000; /* Чёрная рамка */ 
      border: 3px solid #fff; /* Белая рамка */
      border-radius: 10px; /* Радиус скругления */
      background-image: url(../images/email-pattern.png);
      background-size: 100%;
      background-position: right bottom;
      background-repeat : no-repeat;
      float: left;
      width: 300px;
      margin: 50px 0px 50px 20px;
      overflow: hidden;
      }
      .filminformation {
        display: block;
        text-align: center;
      
      }
      #films-info {
        background:transparent;
        background-image: url(../images/email-pattern.png);
        background-size: 100%;
        background-position: right bottom;
        background-repeat : no-repeat;
        background-color: transparent;
        float: left;
        overflow: hidden;
        width: 450px;
        height: 400px;
        margin: 50px 20px 50px 20px;
        border: none;
        /* outline: 2px solid #000; /* Чёрная рамка */ 
    border: 3px solid #fff; /* Белая рамка */
    border-radius: 10px; /* Радиус скругления */
      }
      .remove{
        background: url(../images/recyclebin.png);
        background-size: 90%;
       background-repeat : no-repeat;
       width: 18px;  height: 23px;
       }
  
 